/* original template */
/* https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/ */

/* start variables */
:root {
  --main-color: #00c7fc;
  --transparent-main-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --light-text-color: #777;
}

/* end variables */
/* start global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open sans', sans-serif;
  height: 101vh;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
/* start components */
.section-heading {
  text-align: center;
  margin-bottom: 100px;
  /* it's better to specify this in the component so that the space after it will be constant */
}

.section-heading h2 {
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
  font-weight: normal;
  font-size: 40px;
}

.section-heading h2::before,
.section-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h2::before {
  width: 120px;
  height: 2px;
  top: calc(100% + 20px + 14px / 2);
  background-color: #333;
}

.section-heading h2::after {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px #333 solid;
  top: calc(100% + 20px);
}

.section-heading p {
  width: 550px;
  margin: auto;
  max-width: 100%;
  line-height: 2;
  color: var(--light-text-color);
}

/* end components */
/* start header */
header {
  color: white;
  position: absolute;
  /* the landing is behind the header */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  position: absolute;
  content: '';
  width: calc(100% - 30px);
  height: 1px;
  background: #a2a2a2;
  bottom: 0;
  left: 15px;
}

header .logo img {
  height: 40px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav .toggle-menu {
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover+ul {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  header nav .toggle-menu:hover+ul li a {
    padding: 15px;
  }

  /* or using the important flag */
  /*
  header nav ul li a {
    padding: 15px !important;
  }
  */
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 40px 10px;
  transition: 0.3s;
  font-size: 14px;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px var(--main-color) solid;
  position: relative;
  z-index: 1;
}

header nav form {
  margin-left: 30px;
  position: relative;
  border-left: 1px white solid;
  height: 30px;
  width: 40px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
}

header nav form i {
  font-size: 20px;
}

/* end header */
/* start landing */
.landing {
  /* in case the image doesn't load */
  background-color: #a2a2a2;
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-main-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: initial;
    /* or none or 100% */
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .left-arrow,
.landing .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

.landing .left-arrow {
  left: 30px;
}

.landing .right-arrow {
  right: 30px;
}

@media (max-width: 767px) {

  .landing .left-arrow,
  .landing .right-arrow {
    display: none;
  }
}

.landing .bullets {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: white solid 1px;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border: none;
}

/* end landing */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .grid {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (min-width: 768px) {
  .services .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: 40px;
    row-gap: 60px;
  }
}

.services .grid .service {
  display: flex;
  gap: 40px;
}

@media (max-width: 767px) {
  .services .grid .service {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.services .grid .service i {
  font-size: 3em;
}

.services .grid .service .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .grid .service .text p {
  line-height: 2;
  color: var(--light-text-color);
}

/* end services */
/* start design */

.design {
  background-color: darkblue;
  background-image: url('../images/design-features.jpg');
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 600px;
}

/* instead of overlay div */
.design::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-main-color);
  flex: 1;
  position: relative;
  /* to make it above the absolutely positioned overlay */
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text li {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}

.design .image {
  flex: 1;
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

/* end design */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .shuffle li {
  padding: 10px;
  text-transform: capitalize;
}

.portfolio .shuffle li.active {
  color: white;
  background-color: var(--main-color);
}

.portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.portfolio .gallery .box {
  position: relative;
  overflow: hidden;
}

.portfolio .gallery .box img {
  display: block;
  max-width: 100%;
  transition: transform 0.3s;
}

.portfolio .gallery .box:hover img {
  transform: scale(1.1) rotate(3deg);
}

.portfolio .gallery .box .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: white;
  text-transform: capitalize;
  padding: 20px;
  transition: transform 0.3s;
}

.portfolio .gallery .box:hover .text {
  transform: translateY(-100%);
}

.portfolio .gallery .box .text p:last-of-type {
  color: var(--main-color);
  padding-top: 10px;
}

.portfolio .more-btn {
  text-align: center;
  padding-top: 30px;
}

.portfolio .more-btn {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 30px auto;
  display: block;
  width: fit-content;
  text-decoration: none;
}

/* end portfolio */
/* start video */
.video {
  position: relative;
}

.video::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.video video {
  width: 100%;
  /* read about aspect-ratio */
  display: block;
  /* that was to make its container's height the same as it */
  /* inline elements can make its container a little bit larger */
  /* now the .video height = the video height */
}

.video .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  text-align: center;
  color: white;
  background-color: var(--transparent-main-color);
}

.video .text h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width: 440px) {
  .video .text {
    transform: none;
    top: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video .text h2 {
    font-size: 1.1em;
  }
}

.video .text p {
  margin-bottom: 30px;
  text-transform: capitalize;
}

.video .text a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s;
}

.video .text a:hover {
  background-color: white;
  color: black;
}

/* end video */
/* start about */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  /* this is a trick. we don't want a part of the image to appear --> bottom: -120px */
  /* then, a larger space became between the heading and the image */
  /* so we used margin-top: -120px with the same 120px to subtract this distance */
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }

  /* in smaller screens, the image will shrink not to get out of the section */
  /* then, 120px will cut a big portion of the image */
}

/* end about */
/* start stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #b300ff;
  background-image: url('../images/stats.png');
  background-size: cover;
  position: relative;
}

.stats::before {
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  padding: 50px;
  color: white;
  background-color: var(--transparent-main-color);
  text-align: center;
}

/* mobile first principle */
/* here, the property won't be overridden much in media */
/* the mobile media will end at 767px, its stylings won't bother us later */
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats .container .box p:first-of-type {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p:last-child {
  font-size: 14px;
}

/* end stats */
/* start pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
  text-transform: capitalize;
}

.pricing .plans .plan>* {
  border-top: 1px var(--main-color) solid;
}

.pricing .plans .plan .plan-heading {
  padding: 40px 20px;
}

.pricing .plans .plan .plan-heading .plan-name {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.pricing .plans .plan .plan-heading .plan-price {
  font-size: 60px;
  font-weight: bold;
}

.pricing .plans .plan .plan-heading .plan-price::before {
  content: '$';
  position: relative;
  font-size: 25px;
  font-weight: normal;
  top: -40px;
  margin-right: 15px;
}

.pricing .plans .plan .plan-heading .plan-price::after {
  content: '/Mo';
  position: relative;
  font-size: 20px;
  right: -15px;
}

.pricing .plans .plan .plan-details p {
  padding: 20px;
  position: relative;
}

.pricing .plan .plan-details p:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: var(--main-color);
}

.pricing .plan .buy-btn {
  padding: 30px 0;
}

.pricing .plan .buy-btn a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 0 auto;
}

.pricing .contact-msg {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}

.pricing .contact-msg+a {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

/* end pricing */
/* start subscribe */
.subscribe {
  background-color: darkblue;
  background-image: url('../images/subscribe.jpg');
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.subscribe::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.subscribe .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.subscribe .email-field {
  display: flex;
  border: 1px white solid;
  position: relative;
}
.subscribe input[type='text'] {
  padding: 20px 20px 20px 60px;
  background-color: transparent;
  border: none;
  outline: none;
}
.subscribe input[type='text']::placeholder {
  color: white;
  text-transform: capitalize;
}
.subscribe .email-field i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.2em;
}
/* end subscribe */